html {
    font-size: 100%; /* keep */
    box-sizing: border-box; /* keep */

}

* {
    box-sizing: inherit; /* keep */
}

body {
  margin: auto;
  background-color: #242222;
  color: #000;
  font-family: 'futura', sans-serif;
  font-size: 100%;
  line-height: 1.15em;
}

#intro {
  max-width: 900px;
  background: #B2FFFF;
  width: 85%;
  margin: 30px auto;
  padding: 15px;
  font-family: futura, sans-serif;
}

#buttons {
  text-align: center;
  padding: 10px;
}

#response {
  text-align: center;
  padding: 10px;
}

#container {
  max-width: 900px;
  background: #B2FFFF;
  width: 85%;
  margin: 30px auto;
  padding: 15px;
  font-family: futura, sans-serif;
}

#container #center {
  text-align: center;
}

#form {
  m
}

#incidents {
  margin: auto;
  background-color: #B2FFFF;
  color: #000;
  font-family: 'futura', sans-serif;
  font-size: 100%;
  line-height: 1.15em;
}

#submit {
  text-align: center;
}

#container p {
	font-size: 1.4em;
	line-height: 1.3em;
}

h1 {
  text-align: center;
  margin: 0;
  line-height: 150%;
  font-size: 2rem;
}



label {
  display: block;
  padding-top: 0.5em;
}



input {
  width: 100%;
  font-family: monospace;
  font-size: 1.5em;
  padding: 5px;
}





.announce {
  background: #f2f2f2;
  padding: 20px 0;
  text-align: center;
  width: 90%;
  margin: 2em auto;
  border: 1px solid #cc90c0;
}*/


/* links */


a:hover {
  color: #fcfcfc;
  text-decoration: none;
}


/* special classes */

.smallform p {
  text-align: center;
}

.smallform input[type='radio'] {
  display: inline;
  width: auto;
}

.smallform label {
  display: inline;
}


 submit button styling insanity
   http://cssdemos.tupence.co.uk/button-styling.htm
   */







/* media queries */

@media screen and ( max-width: 700px ) {
  body {
    background: #cbf7bc;
  }
  #container {
    margin: 10px auto;
    padding: 10px;
  }
  #listings {
    width: 100%;
  }
}
